@{
}

<div class="container">
    <div class="d-flex">
        <div class="align-self-center mx-auto">
            @Html.ActionLink("English", "SetGameLanguage", "Language", new { language = "en" }, new { @class = "btn btn-primary" })
       
            @Html.ActionLink("German", "SetGameLanguage", "Language", new { language = "de" }, new { @class = "btn btn-primary" })
       
            @Html.ActionLink("Hungarian", "SetGameLanguage", "Language", new {language = "hu" }, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>

