@{
}

<div class="col-12">
    <div class="row">
        <div class="col-2">
            aaaaaa
        </div>
        <div class="col-8">
            aaaaaa
        </div>
        <div class="col-2">
            aaaaaa
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h6>aaaaaaaaaaa</h6>
        </div>
    </div>
</div>

