html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #292929;
}

body {
    margin-bottom: 60px;
    background-color: #292929;
}

.secondary {
    background-color: #F5F5F5;
    border: 5px solid red;
}

.accent {
    background-color: #FF3D00;
}
